---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

const allEvents = await getCollection("evento");
const eventos = allEvents.sort(collectionDateSort);
---

<PageLayout meta={{ title: "Eventos", description: "Eventos, congressos e palestras" }}>
	<h1 class="title mb-6">Eventos</h1>
	<p class="mb-8">Confira os eventos, congressos e palestras dos quais participei.</p>
	<section>
		<ul class="space-y-4" role="list">
			{
				eventos.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:gap-x-4">
						<time
							datetime={p.data.publishDate.toISOString()}
							class="min-w-[120px] text-gray-600 dark:text-gray-400"
						>
							{p.data.publishDate.toLocaleDateString("pt-BR", {
								year: "numeric",
								month: "short",
								day: "numeric",
							})}
						</time>
						<a href={`/eventos/${p.slug}/`} class="cactus-link" data-astro-prefetch>
							{p.data.title}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
