---
import { type CollectionEntry, getCollection } from "astro:content";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

const allEvents = await getCollection("evento");
const eventos = allEvents.sort(collectionDateSort) as unknown as CollectionEntry<"post">[];
---

<PageLayout meta={{ title: "Eventos", description: "Eventos, congressos e palestras" }}>
	<h1 class="title mb-6">Eventos</h1>
	<p class="mb-8">Confira os eventos, congressos e palestras dos quais participei.</p>
	<section>
		<ul class="space-y-4" role="list">
			{
				eventos.map((p) => (
					<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
